.body-container {
    margin-top: 60px;
    padding-bottom: 40px;
}
.body-login {
    background-image: url('../light-trails-buildings 1.png') !important;
    background-size: cover;
}
.welcome-page li {
  list-style: none;
  padding: 4px; }
.login-component {
    width: 694px !important;
    margin: auto !important;
    height: 552px !important;
    background: rgba(255, 255, 255, 0.75) !important;
    backdrop-filter: blur(12px) !important;
}
.login-page {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.login-icon {
    width: 155.94px;
    height: 48px;
    margin: 32px 32px;
}
.login-input {
    width: 360px;
    margin: 0 auto;
}
    .login-input label {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        /* display: flex; */
        align-items: center;
        color: #006699;
    }
.bottom-title-suggest-text {
    width: 100%;
    left: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 131%;
    color: #212121;
}
    .bottom-title-suggest-text a {
        color: #006699;
        cursor:pointer;
    }
    .login-button {
        background: #006699;
        width: 198px;
        height: 40px;
        margin: 0 auto;
    }
.form-check-label {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* display: flex; */
    align-items: center;
    color: #006699;
}
.user-input {
    margin-top: 33px;
}
.password-input{
    margin-top:24px;
}
.login-title {
    display: block;
    text-align: center;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    /* display: flex; */
    align-items: center;
    color: #006699;
}
.logged-out-page iframe {
    display: none;
    width: 0;
    height: 0;
}

.grants-page .card {
  margin-top: 20px;
  border-bottom: 1px solid lightgray; }
  .grants-page .card .card-title {
    font-size: 120%;
    font-weight: bold; }
    .grants-page .card .card-title img {
      width: 100px;
      height: 100px; }
  .grants-page .card label {
    font-weight: bold; }
