.text-content {
    .title {
        font-size: 40px;
        font-weight: 600;
    }

    .content {
        font-size: 20px;
        font-weight: 600;
    }
}

.button-back-home {
    .home {
        height: 40px;
        width: 133px;
        border: 1px solid #006699;
        color: #ffffff;
        background-color: #006699;
    }
}