.evomes-home {
        text-align: center;
        .title {
                font-weight: 600;
                font-size: 40px;
                color: #006699;
                margin: 96px auto;
        }
        .image {
                width: 70%;
        }
}
